#image{
    border-radius: 50px;  
    align-items: flex-start;
}

#image2{
    border-radius: 50px;  
    align-items: flex-end;
    align-content: inherit;
    margin-left: 20px;
}

body{
    background: black;
}

p{
    color: blanchedalmond;
}

