.navbar{
  padding: 10px;
  border-radius: 25px;
}

.log {
     border-radius: 50px;  
     background-color: rgb(153, 50, 204);
     color:white;
}

.reg{
     border-radius: 50px;
     background-color:rgb(197, 43, 197);
     color:white;
     
}

.check{
    border-radius: 70px;
    background-color: rgb(173, 76, 247);
     color:white;
}



