
.nav{
    border-radius: 20px;

}
.log {
     border-radius: 50px;  
     background-color: rgb(153, 50, 204);
     color:white;
}

.reg{
     border-radius: 50px;
     background-color:rgb(197, 43, 197);
     color:white;
     
}

.check{
    border-radius: 70px;
    background-color: rgb(75, 0, 130);
     color:white;
}

